{% extends 'store/main.html' %}
{% load static %}
{% block content %}

           <div class="col-lg-6">
           <div class="box-element"  id="form-wrapper">
            <form id="form" method="POST">
                   {% csrf_token %}
                    <h1>Enter New Password</h1>
                    <hr>
                    <p>Please, enter your new password twice so we can verify you typed it in correctly</p>
                    {{ form }}
                <br><br>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Submit">

        </div>
           </div>









{% endblock content %}
