{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
      <div class="box-element">
      <a href="{{ product.get_absolute_url }}"> <img class="thumbnail" src="{{ product.imageURL }}"></a>
        <div class="product">
            <hr>
            <h6><strong>{{ product.name }}</strong></h6>


            <h4 style="display: inline-block;"><strong>${{ product.price|floatformat:2 }}</strong></h4>

<!--			<a class="btn btn-outline-success" href="#">View</a>-->

         </div>
        </div>
    </div><br>
    {% endfor %}
</div>
{% endblock content %}

